nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}
.logo{
    font-size: 35px;
    color:black;
}
nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav ul a{
    font-size: 25px;
    color: rgb(121, 5, 163);
}
.p{
    width: 50%;
    height: 500px;
    background-color: red;
    margin: 20px 0px;
}

/* sec1 */
.sec1{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}